body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 60px;
  margin: 30px 0px 20px 0px;
}

button {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  padding-bottom: 10px;
  margin: 25px 15px;
  font-size: 120px;
  background-color: rgb(17, 160, 255);
  cursor: pointer;
}

button:hover {
  background-color: rgb(4, 121, 199);
  transition: 0.5s;
}

.players-selection {
  margin: 25px 0px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#result {
  display: none;
  font-size: 80px;
  margin: 0;
}

.players-scores {
  margin: 25px 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#player-score {
  color: #14e414;
}
#computer-score {
  color: #ff0000;
}

p {
  margin: 0;
}
