body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.title {
  font-size: 60px;
  margin: 30px 0px 20px 0px;
}

#selections > button {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  padding-bottom: 10px;
  margin: 25px 15px;
  font-size: 120px;
  background-color: rgb(17, 160, 255);
  cursor: pointer;
}

#selections > button:hover {
  background-color: rgb(4, 121, 199);
  transition: 0.5s;
}

.players-selection {
  margin: 25px 0px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#round-result {
  font-size: 40px;
}

.players-scores {
  margin: 25px 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#player-score {
  color: #14e414;
}
#computer-score {
  color: #ff0000;
}

p {
  margin: 0;
}

#modals-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.678);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  animation: fade-in 0.5s;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: 3px 3px 10px grey;
  transition: 0.5s;
  animation: float-in 1s;
}

h1 {
  margin: 20px 10px 10px 10px;
}

#radios-container {
  margin: 10px 10px 20px 10px;
}

#score-target-input {
  margin: 0px 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  display: none;
}

#result {
  font-size: 65px;
  margin: 30px;
  white-space: nowrap;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.modal-btn {
  font-size: 22px;
  padding: 5px 8px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: rgb(220, 220, 220);
  box-shadow: 3px 3px 5px grey;
  transition: 0.2s;
}

#popup-container {
  position: absolute;
  padding: 0px 10px 0px 15px;
  right: 15px;
  top: 10px;
  width: 250px;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #fff8bf;
  font-size: 14px;
  transition: ease-in;
  z-index: 2;
}

#popup-container > i {
  color: #ffe100;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float-in {
  from {
    opacity: 0.5;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes slide-in {
  from {
    right: -300px;
  }
  to {
    right: 15px;
  }
}

@keyframes slide-out {
  from {
    right: 15px;
  }
  to {
    right: -300px;
  }
}
