body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
}

.title {
  font-size: 60px;
  margin: 30px 0px 20px 0px;
}

#selections > button {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  padding-bottom: 10px;
  margin: 25px 15px;
  font-size: 120px;
  background-color: rgb(17, 160, 255);
  cursor: pointer;
}

#selections > button:hover {
  background-color: rgb(4, 121, 199);
  transition: 0.5s;
}

.players-selection {
  margin: 25px 0px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#round-result {
  font-size: 40px;
}

.players-scores {
  margin: 25px 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#player-score {
  color: #14e414;
}
#computer-score {
  color: #ff0000;
}

p {
  margin: 0;
}

#modals-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.678);
  height: 100vh;
  width: 100vw;
  z-index: 1;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: 3px 3px 10px grey;
  transition: 0.5s;
  animation-name: ease-in;
  animation-duration: 1s;
}

#target-container {
  /* display: none; */
  height: 200px;
  width: 400px;
}

h1 {
  margin: 20px 0px 0px;
}

#score-target {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
}

#result-container {
  display: none;
}

#result {
  font-size: 65px;
  margin: 0;
  flex-grow: 2;
  align-content: center;
}

.buttons {
  display: flex;
  gap: 20px;
}

.modal-btn {
  margin-bottom: 20px;
  font-size: 22px;
  padding: 5px 8px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: rgb(220, 220, 220);
  box-shadow: 3px 3px 5px grey;
  transition: 0.2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ease-in {
  from {
    opacity: 0.5;
    top: 20%;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
